doctype html
head
  link#theme(rel='stylesheet' type='text/css' href='/resources/css/main.css')
  script(defer='' src='/resources/js/main.js')
  script(defer='' src='/resources/js/table.js')
  title Contact Log
  meta(charset='UTF-8')
body
  include navigations.pug
  div#setSale
    p SET SALE
    label(for='saleTextInput') Sale Text:
    input#saleTextInput(type='text' name='saleTextInput')
    br
    button#setSaleButton Set Sale
    button#endSaleButton End Sale
  div#saleConfirmation
    p
  h1 Contact Log
  table#contactLogTable
    tr
      th Name
      th Email
      th Date
      th Apppointment Type
      th Service Type
      th Cash?
      th Delete?
    each contact in contacts
      tr(id=`tableRow${contact.id}`)
        td= contact.contactName
        td
          a(href=`mailto:${contact.contactEmail}`) #{contact.contactEmail}
        td= contact.dateScheduled
        td= contact.apptType
        td= contact.serviceType
        td= contact.paymentType
        td
          button(id=`deleteButton${contact.id}`) Delete Me