doctype html
html(lang="en")
  head
    link(rel='stylesheet' type='text/css' href='/resources/css/dark.css')
    script(src='/resources/js/landingPage.js')
    script(src='/resources/js/dashboard.js')
    title Dashboard
    meta(charset="UTF-8")
  body
    include navigations.pug
    h1#dashboard Welcome to 
      |
      i The Chatter
    
    .main
      .middle
        .sorting
          label#dashboard(for='sort') Sort By: 
            select#dashboard(name='sort')
              option(value='newest') Sort by newest
              option(value='likeCount') Sort by like count
        .postsContainer
          each post in pagedPosts
            .post
              .author
                p #{post.firstName} #{post.lastName}
                #edit
                  button(type='button', id=`editButton${post.postID}`) Edit
              p #{post.postText}
              .likes
                button(type='button', id=`heartButton${post.postID}`)
                  img(src='resources/images/whiteHeart.png', alt='heart picture')
                  span #{post.likes}
        .pagination
          if page
            nav.paginationContainer
              if page>=2
                a(href=`/dashboard?page=${page-1}`, id='paginationLink') Prev 
                span#pageNumber= page

              else
                span#pageNumber= page
              a(href=`/dashboard?page=${page+1}`, id='paginationLink') Next
      #postCreation
        h3 Create Post
        form(action='/publishPost', method='post')
          textarea(id='createPostTextArea', name='createPostTextArea', rows='5', cols='30', placeholder="Type Here ... (Limit 200 characters)")
          br
          input(type='submit' value='Publish' name='publishPost')


    

